.slideImg {
	max-width: 100%;
	max-height: 400px;
	width:auto;
	heigth: auto;
}

.textoSlideContainer {
	width: 100%;
	heigth: 407px;
}

h1 {
	color: rgb(100, 10, 1);
	
}

p#descricaoSlide {
	color: black;
}