.backgroundDiromani {
	background-color: rgba(218, 217, 121, 0.9);
	background-color: rgba(247, 246, 170, 0.9);
}

.backgroundDiromaniSolid {
	background-color: rgb(218, 217, 121);
	background-color: rgb(247, 246, 170);
}
